% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
% ex: ft=erlang ts=4 sw=4 et

{plugins, [
           {rebar3_appup, {git, "https://github.com/joaohf/rebar3_appup.git", {branch, "master"}}}
          ]}.


{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {'axon', "0.1.0"},
         [axon,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, true},
        {system_libs, true},

        {extended_start_script, true},
        {generate_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {system_libs, true}
                           ]}]
            }]
}.
